.forum-container{
    display: flex;
    flex-wrap: nowrap;
    min-height: 100vh;
    min-width: 1000px;
    padding: 0 50px;
    background-color: rgb(51, 155, 120);
    padding-top: 60px;
}

.tool{
    width: 20%;
    padding: 30px 10px;
    margin: 20px 10px 20px 0;
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    height: fit-content;
}

.search input, .search button{
    height: 30px;
    border: none;
}
.search input{
    padding-left: 5px;
}
.search {
    padding: 10px;
    display: flex;
    align-items: center;
}

.search input[type="text"] {
    min-width: 120px;
}

.search button {
    border: none;
    background-color: rgb(196, 242, 196);
    cursor: pointer;
    padding: 5px;
}

.search button:hover{
    background-color: rgb(159, 197, 159);
}

.forum-category h3{
    font-size: 18px;
    padding: 10px;
    color: whitesmoke;
}
.forum-category h3:hover{
    cursor: pointer;
    background-color: rgb(44, 132, 102);
}
.forum-category a{
    text-decoration: none;
}

.post-container{
    width: 80%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.post-nav-container{
    border-bottom: 2px groove rgb(230, 230, 230);
    display: flex;
    justify-content: space-between;
    position: sticky;
    padding-top: 20px;
    top: 56px;
    border-radius: 10px 10px 0 0;
    background-color: white;
    z-index: 1;
}

.post-nav-container ul{
    display: flex;
    list-style: none;
    margin: 0;
}

.post-nav-container ul li{
    margin: 20px 20px 0px;
    padding-bottom: 15px;
}

.post-nav-container li a{
    text-decoration: none;
    color: black;
}

.post-nav-container ul li a:hover{
    color: rgb(96, 208, 96);
    cursor: pointer;
}

.post-nav-container ul li.active{
    border-bottom: 2px solid green;
}

.addpost{
    padding: 5px 15px;
    margin: 20px 20px 0;
    border: rgb(8, 126, 61) solid 2px;
    position: absolute;
    right: 10px;
    bottom: 15px;
    background-color: rgb(64, 197, 152);
    color: white;
    border-radius: 10px;
}
.addpost:hover{
    background-color: rgb(43, 149, 106);
    cursor: pointer;
}

.post-list{
    padding: 10px 50px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    padding-bottom: 30px;
    height: 100%;
}

.postInfo{
    margin-bottom: 10px;
}

.postInfo span{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postHeader{
    display: flex;
    align-items: center;
}

.postFeature{
    display: flex;
}

.editpost, .delpost{
    border: none;
    padding: 5px;
    border-radius: 5px;
}
.editpost{
    background-color: rgb(152, 152, 255);
}
.delpost{
    background-color: rgb(244, 133, 133);
    margin-left: 5px;
}

.postDetails{
    display: flex;
    justify-content: space-between;
}

.postDetails .word{

}
.word div{
    margin: 10px 0 0;
}
.postTitle{
    font-size: 18px;
    font-weight: bold;
}
.postContent{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 700px;
}
.postPic{
    text-align: right;
}
.postPic img{
    border-radius: 20px;
}

.noPost{
    text-align: center;
    font-size: large;
    margin-top: 20px;
}

.addPostForm{

}

.addPostForm div{
    margin: 10px;
}

.addPostForm div label{
    display: block;
}


.inputPostContent, .inputPostTitle, .inputCategory{
    width: 100%;
    background-color: rgb(235, 235, 235);
    min-height: 18px;
    border: 1px solid rgb(140, 140, 140)
}

.submitbtnStyle{
    text-align: center;
}

.submitbtn{
    margin: 20px auto;
    background-color: rgb(127, 255, 202);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}
.submitbtn:hover{
    background-color: rgb(103, 207, 164);
}