.guidePageContainer{
    min-height: 100vh;
    min-width: 1000px;
    background-color: #ffffff;
}

.slider{
    width: 100%;
    /* max-width: 100vw; */
    height: 500px;
    margin: 56px auto 0;
    position: relative;
    overflow: hidden;
    background-color: #c2eabe;
    background-position: center -30px;
    background-image: url(../images/sliderbg.jpg);
    background-size: cover;
}
.slider .slideList{
    position: absolute;
    width: 500%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .slideList .item{
    flex: 0 0 calc(100% / 5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.slideContent{
    width: 100%;
    height: 100%;
    white-space: wrap;
    text-align: center;
}

.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}
@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
}

.guideContainer{
    min-height: 400px;
	padding: 25px 40px 40px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    background: #f0ffee;
}

.guideCategoryNav{
	width: 100%;
    flex: 1;
}
.guideCategoryNav h4{
	padding: 5px 10px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.guideListHeader{
	display: flex;
	align-items: center;
	padding: 5px 10px;
    margin-bottom: 20px;
}

.guideListHeader h4{
	margin: 0;
}
.guideListHeader .manageIcon{
	margin-left: 10px;
	background-color: rgb(237 236 236);
	color: black;
	padding: 0 5px;
	font-size: 1.5rem;
	border-radius: 20px;
}

.manageIcon:hover{
    animation: rotate 4s linear infinite;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.searchbtn{
    background-color: #c3f1c3 !important;
}
.searchbtn:hover{
    background-color: #afdaaf !important;
}

.guideCategorylist{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.guideCategorylist a{
	text-decoration: none;
	color: black;
	padding: 5px 10px;
	border: 2px solid lightgray;
	border-radius: 5px;
	margin: 5px 10px;
}
.guideCategorylist a h6{
	margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guideCategorylist a {
    position: relative;
    display: inline-block;
    margin: 10px;
    padding: 10px 15px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    color: #2a2a2a;
    background: white;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #7befc3;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #b5f0d2;
  }
  
  .guideCategorylist a:hover {
    color: rgb(0, 0, 0);
    box-shadow: inset 0 -100px 0 0 #b3ffd6;
  }
  
  .guideCategorylist a:active {
    transform: scale(0.9);
  }

.guideListContainer{
	margin: 0;
	width: 100%;
}

.guideCardList{
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 40px;
}

.guideCard{
	width: 260px;
	height: 380px;
	border-radius: 10px;
	transition: all .3s;
	overflow: hidden;
	position: relative;
    background-color: white;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}
.guideCard:hover{
	transform: scale(1.05);
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
	cursor: pointer;
    background-color: rgb(245, 245, 245);
}

.guideImg{
	width: 100%;
	height: 160px;
	border-radius: 10px 10px 0 0;
}

.guideCategory, .guideTitle, .guideDescription{
	margin: 10px 15px;
}

.guideCategory{
	font-weight: 500;
	color: rgb(79, 107, 88);
	width: fit-content;
	padding: 3px 10px;
	border-radius: 20px;
    font-size: 13px;
}
.guideTitle{
	font-weight: 600;
	font-size: 18px;
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.guideDescription{
	font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.learnmore{
	position: absolute;
	bottom: 5px;
	right: 15px;
    color: blue;
    font-size: 14px;
}
.guideCard:hover .learnmore{
	color: rgb(40, 40, 129);
}

