.guideManageContainer{
    padding: 60px 50px 20px;
    min-height: 100vh;
    min-width: 1000px;
    border: 2px red solid;
}

.goback{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.guideMTool{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.guidefilter{
    display: flex;
    align-items: center;
}

.searchBar{
    width: 300px !important;
}
.searchbtn{
    border: 1px solid lightgray !important;
}

.addGuideBtn{
    border-radius: 5px;
    white-space: nowrap;
    padding: 6px 10px;
    background-color: #b3f5ce;
    border: 1px solid rgb(131, 217, 131);
}
.addGuideBtn:hover{
    background-color: #87c8a2;
}

.title{
    font-size: 35px;
    text-align: center;
}

 table{
    border-spacing: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    width: 100%;
}

td{
    border-top: rgb(205, 208, 218) solid 1px;
    padding: 15px;
}

th{
    background-color: #cffde2 !important;
    padding: 10px;
}

.guideContent{
    text-align: left;
}

.editguide{
    border: 1px solid rgb(106, 106, 244);
    background-color: rgb(163, 212, 255);
    border-radius: 5px;
}

.editguide:hover{
    background-color: rgb(140, 182, 219);;
}

.delguide{
    border: 1px solid red;
    background-color: rgb(242, 179, 179);
    border-radius: 5px;
}

.delguide:hover{
    background-color: rgb(206, 116, 116);
}

.error{
    border: rgb(250, 145, 145) solid 2px;
    background-color: rgb(251, 161, 161);
}

.success{
    border: rgb(171, 255, 171) solid 2px;
    background-color: rgb(195, 255, 202);
}

.success, .error{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    width: fit-content;
    margin-left: 50px;
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 20px;
    right: 40px;
    animation: deleteAnimation 5s linear forwards;;
    animation-fill-mode: forwards;
}
@keyframes deleteAnimation {
    0% {
        /* opacity: 1; */
        right: -200px;
    }
    20%{
        right: 40px;
    }
    40%{
        right: 40px;
    }
    70%{
        right: 40px;
    }
    90%{
        right: -100px;
    }
    100% {
        right: -200px;
        display: none;
    }
  }

.success img, .error img{
    margin-right: 10px;
}