.guideManageContainer{
    padding: 60px 50px 20px;
    min-height: 100vh;
    min-width: 1000px;
}

.goback{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.guideMTool{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.guidefilter{
    display: flex;
    align-items: center;
}

.searchBar{
    width: 300px !important;
}
.searchbtn{
    border: 1px solid lightgray !important;
}

.addGuideBtn{
    border-radius: 5px;
    white-space: nowrap;
    padding: 6px 10px;
    background-color: #cffde2;
    border: 1px solid rgb(131, 217, 131);
}
.addGuideBtn:hover{
    background-color: #87c8a2;
}

.title{
    font-size: 35px;
    text-align: center;
}

 table{
    border-spacing: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    width: 100%;
}

td{
    border-top: rgb(205, 208, 218) solid 1px;
    padding: 15px;
}

th{
    /* background-color: #cffde2 !important; */
    padding: 10px;
}

.guideContent{
    text-align: left;
}

.editguide{
    border: 1px solid rgb(106, 106, 244);
    background-color: rgb(163, 212, 255);
    border-radius: 5px;
}

.editguide:hover{
    background-color: rgb(140, 182, 219);;
}

.delguide{
    border: 1px solid red;
    background-color: rgb(242, 179, 179);
    border-radius: 5px;
}

.delguide:hover{
    background-color: rgb(206, 116, 116);
}

.statusMessageBox1{
    position: fixed;
    bottom: 30px;
    right: 40px;
    background: #fff;
    min-width: 100px;
    min-height: 30px;
    padding: 10px 25px 10px 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* transform: translateX(calc(100% + 100px)); */
    /* transition: all 0.5s cubic-bezier(0.68, -0.55, 0.25, 1.35); */
    z-index: 2;
    animation: slideIn 0.5s cubic-bezier(0.68, -0.55, 0.25, 1.35);
}
@keyframes slideIn {
    from {
        transform: translateX(calc(100% + 100px));
    }
    to {
        transform: translateX(0);
    }
}
.statusMessageBox1.slideOut{
    animation: slideOut 0.5s cubic-bezier(0.68, -0.55, 0.25, 1.35);
}
@keyframes slideOut{
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(100% + 100px));
    }
}

.toast-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.toast-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
}
.greenColor{
    background-color: #40f467;
}
.redColor{
    background-color: #f44040;
}
.message{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.message-text{
    font-size: 20px;
    font-weight: 600;
}
.text-1{
    color: #333;
}
.text-2{
    color: #666;
    font-weight: 400;
    font-size: 16px;
}
.toast-close{
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}
.toast-close:hover{
    opacity: 1;
}
.progressbar{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    width: 100%;
    /* background-color: #40f467; */
}

.progressbar.active{
    animation: progress 4s linear forwards;
    }
    @keyframes progress {
    100%{
        width: 0%;
    }
}